body {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
      overflow-x: hidden;
      margin: 0px;
      padding: 0px;
  }

  .menu {
      background-image: url(https://items.epicmc.ml/bc.png);
      background-repeat: no-repeat;
      margin-left: -8px;
      margin-right: -8px;
  }

  .box1 {
      text-align: center;
      color: white;
      font-size: 30px;
      margin-top: 30px;
      background-color: rgba(0, 0, 0, 0.384);
      padding-bottom: 1px;
      padding-top: 1px;
      margin-right: 45px;
      margin-left: 45px;
  }

  .box2 {
      margin-top: 55px;
      text-align: center;
      color: white;
      font-size: 25px;
      margin-top: 30px;
      background-color: rgba(0, 0, 0, 0.384);
      padding-bottom: 1px;
      padding-top: 1px;
      margin-right: 45px;
      margin-left: 45px;
  }

  .bottom {
    font-family: 'Audiowide', cursive;
    margin-top: 20px;
      color: white;
      background-color: black;
      text-align: center;
      padding: 25px;
  }

  .most {
      color: rgb(248, 98, 98);
  }

  .nem {
      color: whitesmoke;
  }

  @media (max-width: 400px) {
    .menu {
        background-image: none;
        background-color: rgb(52, 78, 46);
    }
  }
