body {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
      overflow-x: hidden;
      margin: 0px;
      padding: 0px;
      margin-left: 8px;
  }

  .menu {
    background-color: rgb(52, 78, 46);
    margin-left: -8px;
      margin-right: -8px;
  }
  .box1 {
      text-align: center;
      color: white;
      font-size: 30px;
      margin-top: 30px;
      background-color: rgba(0, 0, 0, 0.384);
      padding-bottom: 1px;
      padding-top: 1px;
      margin-right: 45px;
      margin-left: 45px;
  }

  .box2 {
      margin-top: 55px;
      text-align: center;
      color: white;
      font-size: 25px;
      margin-top: 30px;
      background-color: rgba(0, 0, 0, 0.384);
      padding-bottom: 55px;
      padding-top: 1px;
      margin-right: 45px;
      margin-left: 45px;
  }

  .box3 {
    margin-top: 55px;
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.384);
    padding-bottom: 55px;
    padding-top: 1px;
    margin-right: 45px;
    margin-left: 45px;
}

  .li {
      font-weight: bold;
      font-size: larger;
  }

  .bottom {
    font-family: 'Audiowide', cursive;
      margin-top: 50px;
      color: white;
      background-color: black;
      text-align: center;
      padding: 25px;
  }

  .most {
      color: rgb(248, 98, 98);
  }

  .nem {
      color: whitesmoke;
  }

  .linktext {
      text-decoration: none;
      color: chartreuse;
  }

  .linktext:hover {
      color: green;
  }
